@model  ticketbus.WEB.Models.RouteViewModel
@{
    ViewBag.Title = "Home Page";    
}


<div class="search-form">
    @using (Ajax.BeginForm("ShowTable", new AjaxOptions { UpdateTargetId = "tableBody", OnSuccess = "IsLogin", LoadingElementId = "white-overlay" }))
    {
        <div class="block dateblock">
            <span>Дата отправления</span><br /> @Html.EditorFor(x => x.DateForSearch)
        </div>
        <div class="block">
            <span>Точка отправления</span><br />@Html.EditorFor(x => x.StartPoint)
        </div>
        <div class="block">
            <span>Точка прибытия</span><br />@Html.EditorFor(x => x.FinalPoint)
        </div>
        <input type="submit" value="Поиск" />
    }
</div>
<div id="tableBody"></div>


@Html.Action("ShowNews")



<hr />
@Html.Action("ShowAllRoutes")

                                    

